.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
  text-align: center;
  background-color: #ffffff;
}

.section-container h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: #000000;
}

.question {
  background-color: #fff;
  padding: 2rem;
  border-radius: 1.5rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
  animation: slideUp 0.4s ease-out;
}

.question p {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
  color: #000000;
}

.options {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.option-box {
  width: 50px;
  height: 50px;
  background-color: #cfcfcf;
  border: none;
  border-radius: 0.75rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #000000;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.option-box:hover {
  background-color: #000000;
  color: rgb(255, 255, 255);
}

@keyframes slideUp {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}