.results-container {
  padding: 20px;
  max-width: fit-content;
  color: #000000;
  margin: 0 auto;
  font-family: 'Arial', sans-serif;
}

h2 {
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
}

.total-score,
.balance,
.open-answers,
.action-plan,
.importance,
.reflection {
  margin-bottom: 30px;
}

.total-score h3,
.balance h3,
.open-answers h3,
.action-plan h3,
.importance h3,
.reflection h3 {
  color: #000000;
}

.total-score p,
.balance p {
  font-size: 1.2rem;
}

.balance p {
  color: #000000;
}

form {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 8px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

textarea,
input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  resize: vertical;
}

textarea {
  height: 100px;
}

input[type="number"] {
  align-items: center;
  max-width: 60px;
}

button.submit-button {
  background-color: #000000;
  color: white;
  padding: 10px 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

button.submit-button:hover {
  background-color: #2ecc71;
}

.reflection ul {
  list-style-type: none;
  padding: 0;
}

.reflection ul li {
  margin-bottom: 10px;
  font-size: 1.1rem;
  color: #34495e;
}

.reflection ul li::before {
  content: "✓ ";
  color: #27ae60;
}

.chart-container {
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .results-container {
    padding: 15px;
  }

  form {
    padding: 15px;
  }

  .total-score p,
  .balance p {
    font-size: 1rem;
  }

  .new-survey-button-container {
  margin-top: 2rem;
  text-align: center;
}

.new-survey-button {
  background-color: #000000;
  color: white;
  padding: 10px 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.new-survey-button:hover {
  background-color: #3700b3;
}
}