/* src/components/TitleScreen.css */
.title-container {
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  color: #000000;
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  text-align: center;
}

.title-heading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.title-paragraph {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.title-input {
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 0.5rem;
  margin-bottom: 0.75rem;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.title-error {
  color: red;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.title-button {
  background-color: #2563eb; /* azul */
  color: white;
  padding: 0.6rem 1.5rem;
  border: none;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.title-button:hover {
  background-color: #ffffff;
  color: #000000;
}